---
layout: default
---

<article class="post">
  <header>
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-date">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time> | 
      {% include read-time.html content = page.content %}
    </div>
  </header>
  {{ content }}
</article>

<aside class="related" aria-labelledby="related-posts-heading">
  <h2 id="related-posts-heading">Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</aside>